// Base styles
*,*::before,*::after {
    box-sizing: border-box;
}
:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    --spartan: Spartan, sans-serif;
}
body {
    margin: 0;
    font-size: 15px;
    font-family: var(--spartan);
}
// Primary styles
.container {
    width: 85%;
    max-width: 1110px;
    margin: auto;
}
.header {
    text-align: center;
    max-width: 424px;

    &__title {
        color: var(--very-dark-magenta);
    }
    &__paragraph {
        color: var(--dark-grayish-magenta);
    }
}
section {
    margin-bottom: 3rem;
}
.rated {
    text-align: center;
    padding: 1rem;
    color: var(--very-dark-magenta);
    background-color: var(--light-grayish-magenta);
    border-radius: 8px;
    margin-bottom: 1rem;
    max-width: 444px;
    &__category {
        margin-bottom: 0;
    }
}
.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media (min-width: 1300px) {
        justify-content: space-between;
    }
}
.card {
    background-color: var(--very-dark-magenta);
    color: #fff;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    max-width: 350px;

    // &:nth-child(2) {
    //     margin-top: 1rem;
    // }
    // &:nth-child(3) {
    //     margin-top: 2rem;
    // }

    &__author {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1.5rem;
        &-image {
            height: 40px;
            margin-right: 1.5rem;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        &-data {
            height: 40px;
            p {
                margin: 0;
            }
            p:last-child {
                color: var(--soft-pink);
            }
        }
    }
    &__message {
        line-height: 1.5;
        margin-bottom: 0;
    }
}

// Secundary styles
.attribution {
    font-size: 11px;
    text-align: center;
    a {
        color: hsl(228, 45%, 44%);
    }
}